extends ../layout/bootstrap.pug
block bootstrap
  h1(class="text-center") History
     
   
   
  .container.pt-5
    .row
      each book in danhsach
        .col-4
          .card(style='width: 20rem;' class="text-center mb-4")
              .bg2
                  img.card-img-top(src= book.avatar, height="304px" width="100px" alt='Card image cap')
              .card-body
                h5.card-title=book.name
                h6.card-title=book.author
                p.card-text
                  =book.description
    

    script(type="text/javascript" src="/javascript/script.js")   

                