html 
	head
		title Home
		link(rel="stylesheet" href="/css/home.css")
	body
	
	.top1
		.wrapper
			.left
				h1 Library
			.right
				a(href="/product")
					button  Explore
	.top2
		.title
			h1 Note
		.content
			p This is a library web application that I wrote in October 2018 when I've started learning Express JS and dip my feet into Backend Website Development. Maybe this is good enough but it's what I dedicated to do. At first, it only can show data from database just like Title, Author, Description. But then, there were a lot of ideas that appeared in my mind to make some more features. And also a lot of bugs. So right now when I write this thing, there are some features that this library can do is. You can upload new book and then it will show into the product path. You can view, edit, delete it.
			br 
			p You can also add what you want to read in WishList section the same with product. After that, if you've finished that book then press "Already Done" button. That book will be sent into the product showcase.
